<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
    <title>{{ page.title }}</title>
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <!-- Removed site title -->
	  <!-- Removed description -->
	  <script data-goatcounter="https://gehu-gesu.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
        </header>
        <hr>

        <section id="main_content">
          {{ content }}
        </section>

        <footer>
          <a href="mailto:shaina.rudman@gmail.com">Shaina.Rudman@gmail.com</a>.
        </footer>

      </div>
    </div>
  </body>
</html>
